/* Start Main Global */
.main{
  display: grid;
  height: 100%;
}

.main-item{
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 70px 0px 90px;
}

.parcial-border-white{
  transform: translate(-20%, -50%);
  font-size: 3.3em;
  font-weight: bold;
}

.parcial-border-white:before,
.parcial-border-white:after,
.parcial-border-white span::after,
.parcial-border-white span:before
{
  content: '';
  position: absolute;
  background: #fff;
}

.parcial-border-white:before{
  top: -14px;
  left: -52px;
  width: 60px;
  height: 5px;
}

.parcial-border-white:after{
  top: 16px;
  right: -51px;
  width: 5px;
  height: 60px;
}

.parcial-border-white span::after{
  bottom: 11px;
  left: -52px;
  width: 5px;
  height: 60px;
}

.parcial-border-white span:before{
  bottom: -19px;
  right: -51px;
  width: 60px;
  height: 5px;
}

.parcial-border-blue{
  font-size: 3.3em;
  color: #60cedf;
  transform: translate(-20%, -50%);
  font-weight: bold;
}

.parcial-border-blue:before,
.parcial-border-blue:after,
.parcial-border-blue span::after,
.parcial-border-blue span:before
{
  content: '';
  position: absolute;
  background: #60cedf;
}

.parcial-border-blue:before{
  top: -14px;
  left: -52px;
  width: 60px;
  height: 5px;
}

.parcial-border-blue:after{
  top: 16px;
  right: -51px;
  width: 5px;
  height: 60px;
}

.parcial-border-blue span::after{
  bottom: 11px;
  left: -52px;
  width: 5px;
  height: 60px;
}

.parcial-border-blue span:before{
  bottom: -19px;
  right: -51px;
  width: 60px;
  height: 5px;
}

.main-text{
  display: flex;
  flex-direction: column;
  padding: 50px 0 0 0;
}

.main-item{
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 0px 70px 0px 90px;
}
/* End Global */

/* ------- */

/* Start Main page 1 */
.main-1{
  grid-template-columns: 2fr 1fr;
  justify-content: flex-end;
  background: url('../images/golden-gate.jpe') no-repeat;
  background-size: cover;
}

.main-item-1{
  grid-column: 2;
  background-color: rgba(96,206,223,.81);
}

.main-item-1 .main-text p{
  text-align: end;
  font-size: 1.4em
}

.main-item-1 .main-text span{
  font-weight: bold;
}
/* End Main page 1 */

/* ------ */

/* Start Main page 2 */
.main-2{
  grid-template-columns: 1fr 2fr;
  justify-content: flex-start;
  background: url('../images/lily.jpg') no-repeat;
  background-size: cover;
}

.main-item-2{
  grid-column: 1;
  background-color: rgba(11,10,28,.81);
}

.main-item-2 .main-text p{
  text-align: end;
  font-size: 1.4em
}

.main-item-2 .main-text span{
  color: #60cedf;
  font-weight: bold;
}
/* End Main Page 2 */