.presentation{
  display: grid;
  grid-template-rows: 1fr 3fr 1fr;
  height: 100%;
}

.presentation-item-1{
  border: 1px solid red;
}

.timeline{
 display: flex;
 list-style: none;
}

.timeline li{
  width: 33.33%;
}